<div class="row">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><%= require('file-loader!./assets/sf_logo_white.png')%></a>
      </div>
    </div>
  </nav>
</div>