<div class="col-xs-12 col-md-3">
  <div class="row">
    <div class="panel-body side">
      <div class="col-xs-12">
        <div class="row center">
          <div class="profile-header">BENCHMARKING PROFILE</div>
        </div>
        <div class="row center">
          <i class="fa fa-building" aria-hidden="true"></i>
          <span class="building-name side">Hotel Zetta</span>
        </div>
        <div class="row center address">
          <span class="address" id="building-street-address">55 5th St</span><br>
          <span class="address" id="building-city-address">San Francisco, CA 94103</span>
        </div><br>
        <div class="row center">
          <div class="col-xs-6 building-units" id="sidebar-heading">
            <div class="row">
              Parcel Number:
            </div>
            <div class="row">
              Building type:
            </div>
            <div class="row">
              Floor area:
            </div>
          </div>
          <div class="col-xs-5 building-data" id="sidebar-data">
            <div class="row">
              <span id="building-apn"></span>
            </div>
            <div class="row building-type-lower">
              Hotel
            </div>
            <div class="row">
              <span id="building-floor-area">105,905</span> ft<sup>2</sup>
            </div>
          </div>
        </div>
        <br>
        <div class="row building-data center">
          Benchmark status:
          <div class="row">
            <span id="compliance-current-year"></span>
            <span id="compliance-status-current"></span>
          </div>
          <div class="row">
            <span id="compliance-previous-year"></span>
            <span id="compliance-status-previous"></span>
          </div>
        </div>
        <br>
        <div class="row building-data center">
          <div class="row">
            Audit status:
          </div>
          <div class="row">
            <span id="audit-date"></span>
            <span id="audit-status"></span>
          </div>
          <div class="row hidden" id="next-audit">
            <span id="next-audit-date"></span>
            <span id="next-audit-status"></span>
          </div>
        </div>
        <br>
        <div class="row" id="compliance-message"></div>
        <div class="row center">
          <a href="https://sfenvironment.org/article/how-to-comply-with-benchmarking-in-san-francisco" class="btn btn-primary btn-round-lg btn-lg">BENCHMARK NOW</a>
        </div>
        <div class="row center">
          <div class="side-panel-text">
            2017 BENCHMARKS ARE DUE APRIL 1, 2018
          </div>
        </div>
        <div class="links hidden-xs">
          <div class="row link">
            <a href="https://sfenvironment.org/energy/energy-efficiency/commercial-and-multifamily-properties/existing-commercial-buildings-energy-performance-ordinance">What is the Existing Commercial Buildings Ordinance?</a>
          </div><br>
          <div class="row link">
            <a href="https://sfenvironment.org/sites/default/files/fliers/files/sfe_gb_ecb_benchmark_instructions.pdf">How to submit benchmarking data</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
