<div id="view-welcome" style="margin-top: 1em;">
  <p>This dashboard is a project of the <a href="http://datascience.codeforsanfrancisco.org">Data Science Working Group</a> at Code for San Francisco.</p>
  <p>The intent is help building property managers understand the energy usage in compliance with the <a href="https://sfenvironment.org/energy/energy-efficiency/commercial-and-multifamily-properties/existing-commercial-buildings-energy-performance-ordinance">Existing Commercial Buildings Ordinance</a>.</p>
  <p>To see an example of a specific property, <a href="estar.html?apn=3705/039">click here</a>.</p>
</div>