<!DOCTYPE html>
<html>
<%= require('html-loader!./partials/head.ejs') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href=""></a>
          </div>
        </div>
      </nav>
    </div>
    <!-- nav -->
    <%= require('html-loader!./partials/welcome.ejs') %>
    <div id="view-load" class="hidden" style="margin-top: 1em;">
      Loading...
    </div>
    <div id="view-content" class="row hidden">
      <%= require('html-loader!./partials/sidebar.ejs') %>
      <div class="col-xs-12 col-md-9">
  			<div class="row">
  				<div id="tabs">
  				<ul  class="nav nav-pills">
  					<li class="active"><a id="ghg" href="#ghg" data-toggle="tab">GHG EMISSIONS</a>
  					</li>
  				</ul>
  			<div class="tab-content clearfix">

  				<div class="tab-pane active" id="ghg">
  					<div class="row border-bottom">
  						<div class="col-xs-12 col-md-3">
  							<div class="row center" id="ghg-icon"></div>
  							<div class="row center">
  								<span class="ranking-num building-ghg-emissions">468.5</span>
  								<span class="ranking-units">MT CO<sub>2</sub></span>
  							</div>
  						</div>
  						<div class="col-xs-12 col-md-7">
  							<div class="ranking-text">
  								Building energy use by <span class="building-name">Hotel Zetta</span> resulted in <span class="building-ghg-emissions">468.5</span> tons CO<sub>2</sub> of greenhouse gas emissions in <span class="building-ghg-emissions-year">2015</span>.
  							</div>
  						</div>
  						<div class="col-xs-2"></div>
  					</div>
  					<div class="row center hidden-xs">
  						<div class="col-xs-2"></div>
  						<div class="col-xs-8">
  							<div class="chart-title">GREENHOUSE GAS EMISSIONS FOR <span class="building-type-upper">HOTEL</span> IN SAN FRANCISCO<br><span class="building-type-sq-ft">150,000-200,000</span> SQUARE FEET</span></div>
  						</div>
  						<div class="col-xs-2"></div>
  					</div>

  					<div class="row">
  						<div class="col-xs-12">
  							<div class="row center hidden-xs">
  								<div id="ghg-emissions-histogram" class="histogram-chart"></div>
  								<div id="demo" class="hidden">
  									<input type="number" id="change-ghg-input" value="100"><button id="change-ghg">change bin numbers</button>
  								</div>
  							</div>
  						</div>
  						<div class="col-xs-12 panel-bottom">
  							<div class="panel-bottom-header">GREENHOUSE GAS (GHG) EMISSIONS</div><br>
  							<div class="panel-bottom-text">
  								— carbon dioxide (CO<sub>2</sub>) and other gases released into the atmosphere as a result of energy consumption at the property. Emissions are expressed in carbon dioxide equivalent (CO<sub>2</sub>e), which normalizes global warming potential of each gas to an equivalent quantity of carbon dioxide
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
    </div>
  </div>
  </div>
  <!-- /container -->

  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</body>

</html>