<!DOCTYPE html>
<html>
<body>
  <a href="estar.html?apn=3705/039">estar example</a><br>
  <a href="eui.html?apn=3705/039">eui example</a><br>
  <a href="ghg.html?apn=3705/039">ghg example</a><br>
</body>
</html>
